<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Agendamentos</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />



	<script th:inline="javascript">
		function agendar() {
			document.getElementById("formAgenda").style.display = "block"

		}
		
		
		function agendarCancela() {
			document.getElementById("formAgenda").style.display = "none"
		

		}
		
		function editarAgendamento() {
			document.getElementById("agendarCliente").style.display = "block"

		}
		



	</script>

</head>

<body>


	<div th:replace="empresa/navBarEmpresa :: #navConta"></div>

		<h4 id="msg"  th:text="${msg}"></h4>
	<section class="agenda">

	   	<div id="calendario">
	   		<button onclick="agendar()" style="margin-top: 5px; margin-left:5px;" class="btn btn-light">agendar</button>

	   	</div>
	   	
	   
	   	
   		<div id="formAgenda">
   			<form action="/fazerAgendamento" th:object="${agendamento}" method="post">
   				<input type="hidden" th:field="*{id}">
   				
				<label>Cliente</label>
				<select th:field="*{cliente}" class="inputAgenda" required>
					<option id="setNome" th:value="''">selecione</option>
					<option th:each="clientes :  ${listaAgendamento}"
							
					 		th:text="${clientes.cliente.nome}"
							th:value="${clientes.cliente.id}"></option>
							
							
					<option th:each="clientes :  ${listaClienteEmpresa}"
					 		th:text="${clientes.nome}"
							th:value="${clientes.id}"></option>
					

				</select>
			
			
			<label>profissional</label>	
			<select th:field="*{profissional}"  class="inputAgenda" required>
				<option th:value="''">selecione</option>
				<option id="prof" th:each="profissional :  ${profissionalServico}" 
					th:text="${profissional.nome}" 
					th:value="${profissional.nome}">
				</option>
			</select>
			
   		
			

				<label>servico</label>

				<select th:field="*{servico.id}" id="inputAgenda" required>
					<option id="setServico" th:value="''">Selecione</option>
					<option th:each="servico :  ${listaServico}"
						 th:text="${servico.descricao}"
						th:value="${servico.id}"></option>

				</select>


				<label>Dia</label>
				<input class="inputAgenda" id="setData" type="date" th:field="*{data}">
				<label>Hora</label>
				<input type="time" id="setHora" th:field="*{hora}">
				<button type="submit" class="btn btn-light"><img th:src="@{/img/save.svg}" width="25px"></button>
				<button id="cancela" onclick="agendarCancela()" class="btn btn-light"><img style="margin-left:-7px;" th:src="@{/img/close-line.svg}" width="30px"></button>
			</form>

		</div>
		
		

		<table id="table" class="table table-dark table-striped-columns">
			<tr>
				<th>Cliente</th>
				<th>Contato</th>
				<th>Profissional</th>
				<th> Dia </th>
				<th> Hora </th>
				<th>Serviço</th>
				<th>Status</th>
				<th>Ações</th>
			</tr>
			<tr th:each="cont : ${listaAgendamento}">
				<td id="nome" th:if="${cont.cliente != null}"> <span  th:text="${cont.cliente.nome}"></span></td>
				<td id="numero" th:if="${cont.cliente != null}"><span  th:text="${cont.cliente.numero}"></span> </td>
				<th id="profissional" th:text="${cont.profissional}"></th>
				<td id="data" th:text="${cont.data}"> </td>
				<td id="hora" th:text="${cont.hora}"> </td>
				<td id="servico" th:text="${cont.servico.descricao}"></td>
				<td th:if="${cont.status == false}"> Pendente </td>
				<td th:if="${cont.status == true}"> Confirmado </td>
				<td>
				<a id="acoes"  style="width: 50px; padding:2px;" class="btn btn-light"
							th:href="@{/removerAgendamentoEmpresa(codigo=${cont.id}, email=${cont.cliente.email})}"><img th:src="@{/img/bin.svg}" width="37px" alt="Apagar"></a>
				  <a id="acoes" class="btn btn-light"
						th:href="@{/confirmarAgendamentoEmpresa(codigo=${cont.id}, email=${cont.cliente.email})}"><img th:src="@{/img/check-circled.svg}" width="30px" alt="confirmar"></a>
					
			 <a id="acoes" class="btn btn-light" 
						th:href="@{/editarAgendamentoEmpresa(codigo=${cont.id} ,email=${cont.cliente.email})}" ><img th:src="@{/img/edit.svg}" width="30px"  alt="editar"></a>
				</td>


			</tr>


		</table>

	</section>
</body>

</html>