<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>navBar</title>


</head>

<body>






	<nav id="navConta" class="navbar navbar-dark bg-dark fixed-top">



		<div class="offcanvas-body">



			<ul id="navbarempresa" style="position:fixed; top:0px; margin-top:20px; " class="navbar-nav ">




				<li id="liLogo">
					<a id="linkLogo" class="navbar-brand " href="/agendarEmpresa"><img id="imagemLogo"
							th:src="@{/img/logoCnome.png}"></a>
				</li>



				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/agendarEmpresa">Agendar</a>
				</li>


				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Cadastros
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="/profissionalEmpresa">profissional</a></li>
						<li><a class="dropdown-item" href="/cadastrarPessoasEmpresa">clientes</a></li>
						<li><a class="dropdown-item" href="/servicoEmpresa">serviços</a></li>
						<li><a class="dropdown-item" href="/planosEmpresa">planos</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
					</ul>
				</li>



				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/portifolioEmpresa">Portfolio</a>
				</li>



				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/noticiaEmpresa">Notícia</a>
				</li>



				<a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Configurações
				</a>

				<ul class="dropdown-menu dropdown-menu-dark">
					<li>
						<a class="dropdown-item" href="/dadosEmpresa">Meus Dados</a>
					</li>

					<li>
						<hr class="dropdown-divider">
					</li>
				</ul>


				</li>


				<li class="nav-item">
					<a class=" nav-link active" aria-current="page" href="/logoff">
						<img th:src="@{/img/logout.svg}" width="30px"> sair</a>
				</li>

			</ul>



		</div>


	</nav>




</body>

</html>