<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>navBar</title>


</head>
<body>


	<nav id="navConta" class="navbar navbar-dark bg-dark fixed-top">
	
		<div  class="offcanvas-body">
		  <ul style="position:fixed; top:0px; margin-top:20px;" class="navbar-nav justify-content-end flex-grow-1 pe-3">
			  
			  <li id="liLogo" >
			    <a id="linkLogo" style="margin-left: 20px;  " class="navbar-brand " href="/agendarEmpresa"><img id="imagemLogo" th:src="@{/img/logomarca.png}"></a>
			  </li>
			  
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/agendarEmpresa">Agendar</a>
			  </li>
			<li class="nav-item dropdown ">
			  <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Cadastros
			  </a>
			  <ul class="dropdown-menu dropdown-menu-dark">
				<li><a class="dropdown-item" href="#">profissional</a></li>
				<li><a class="dropdown-item" href="#">clientes</a></li>
				<li><a class="dropdown-item" href="/servicoEmpresa">serviços</a></li>
				<li><a class="dropdown-item" href="#">planos</a></li>
				<li>
				  <hr class="dropdown-divider">
				</li>
			  </ul>
			</li>
	  
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/portifolio">portifolio</a>
			  </li>
			  
				
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/dadosEmpresa">Meus Dados</a>
			  </li>
			  
			  
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/configuracaoEmpresa">Configurações</a>       
			  </li>
			  
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/logoff">Sair</a>
			  </li>
	  
		  </ul>
		
		</div>
	
  	</nav>
	



</body>
</html>