<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Meus Dados</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>


  <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />


</head>

<body>


  <div th:replace="empresa/navBarEmpresa :: #navConta"></div>


  <div>

    <div class="container col-sm-12 col-md-6 col-md-offset-2 planos">

      <section class="wrapper">


        <div class="container-fostrap">

          <div class="content" id="cards">


            <div class="container">


              <div class="row">
				  <h1 style="color:white; margin-top:-10%; margin-bottom:10%;margin-left:-30%;"><b>Planos</b></h1>
                <div class="col-xs-12 col-sm-4" th:each="listPlanos : ${planos}">
                  <div class="cartoes card">
                    <div class="card-content">
                      <h4 class="card-title">
                       <h3><b th:text="${listPlanos.nome}"></b></h3>
                      </h4>
                      <p class="" th:text="${listPlanos.detalhes}">
                      </p>
                     <p class="" >
                     	 <span>$<span th:text=" ${listPlanos.valor}"> </span></span>
                      </p>
                      <a th:href="@{/salvarPlanoEmpresa(plano=${listPlanos.id})}" class="btn btn-primary">Assine já</a>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </section> 
     
    </div>
  </div>

</body>

</html>