.cadastro {
	margin-top:-2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-beween;
    padding: 0px 10%;
   


}



#primeiro {
    float: left;
    width: 40%;
    margin-top: 20px;

}

#segundo {
    float: right;
    width: 40%;
    margin-top: 20px;

}


#formCad {
    background: #283555;
    width: 50%;
    border-radius: 20px;

}


label {
    color: white;
}



main {

    background-image: url('/img/tela1.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;


}

.col img {

    width: 70px;
    margin-top: 10px;
    border-radius: 50%;

}