.planos {
    background-image: linear-gradient(to bottom right, #283547, black);
    width: 40%;
    margin-left: 30%;
    height: 70%;
    border-radius: 20px;
    margin-top: 30px;
    padding-top: 300px;
    padding-left: 900px;
    position: fixed;


}

#card1 {
    position: relative;
    bottom: 250px;
    right: 390px;
}

#card2 {
    position: relative;
    bottom: 250px;
    right: 390px;
}

#card3 {
    position: relative;
    bottom: 690px;
    right: 800px;
}

#card4 {
    position: relative;
    bottom: 690px;
    right: 800px;
}