@charset "UTF-8";


	#navConta{
		width:300px;
		border-radius: 15px;
		position:fixed;
		top:0px;
	}
	#navDados{
		margin-left:15px;
	}
	
	#primeiro{
		float:left;
		width:40%;
	}
	
	#segundo{
		float:right;
	}
	#button{
		float:rigth;
	}
	a{
		color:white;
		text-decoration:none;
		cursor: pointer;
	}
	a:hover{
		color:white;
		opacity:0.5;
		background: black;
	}
	
	
	
	#list-tab{
		width:400px;
		border-radius:20px;
		text-align:center;
	}
	label.agend{
		color:white;
	}
	
		/******listaestabelecimento********/
	
	#listaEstabelecimento{
			width:500px;
			 margin-left:30%; 
			 margin-top:10%;
			 background-color:gray;
			 border:black solid;
	}
	
	/******estabelecimento********/
	a.linkAgendamentos{
		color:white;
	}
	
	#lista{
	
		width:50%;
		
		margin-left:30%; 
		margin-top:5%;
		background-color:gray;
		border:#34393dsolid;
		border-radius:10px;
	}
	
	#portifolio{
		height:300px;
		margin-left:250px;
		
		
		
	
	}
	#carouselExampleIndicators{
		width:400px;
		height:150px;
		
	}
	#left{
			width:200px;
			margin-top:-270px;
			margin-left:20px;
	}
	#listaServ{
		margin-top:30px;
	}
	
	#informacoes{
		width:180px;
		margin-left:300px;
		
	}
	#agenda{
		width:400px;
		height:150px;
		display:none;
		background-color:#555753;
		
		
	}
	#imagens{
		margin-top:20px;
		display:none;
		width:430px;
		background-color:#555753;
		border-radius:10px;
		padding-bottom:5px;
		
	}
	#dataAgendamento{
		
		margin-left:100px;
	}
	.horaAgendamento{
		width:60px;
		
	}
	#buttonAgenda{
		margin-left:70%;
		margin-top:10px;
	}
	
	/******* pagina de agendamentos*********/
	table.table{
		width:30%;
		margin-left: 30%;
		margin-top: 10%;
	}
	
	
	
	