@charset "UTF-8";


	#navConta{
		width:300px;
		border-radius: 15px;
		position:fixed;
		top:0px;
	}
	#navDados{
		margin-left:15px;
	}
	
	#primeiro{
		float:left;
		width:40%;
	}
	
	#segundo{
		float:right;
	}
	#button{
		float:rigth;
	}
	a{
		color:white;
		text-decoration:none;
	}
	a:hover{
		color:white;
		opacity:0.5;
		background: black;
	}
	
	
	
	#list-tab{
		width:400px;
		border-radius:20px;
		text-align:center;
	}
	
		/******listaestabelecimento********/
	
	#listaEstabelecimento{
			width:500px;
			 margin-left:30%; 
			 margin-top:10%;
			 background-color:gray;
			 border:black solid;
	}
	
	/******estabelecimento********/
	
	#lista{
	
		width:50%;
		height:50%;
		margin-left:30%; 
		margin-top:10%;
		background-color:gray;
		border:black solid;
	}
	
	#portifolio{
		height:300px;
		float:right;
		margin-right:40px;
		
	
	}
	#carouselExampleIndicators{
		width:500px;
		height:150px;
	}
	
	#infomacoes{
		width:200px;
		border:solid red;
		
	
	}
	
	