<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Inicio</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />

</head>

<body>


  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a style="margin-left: 20px;" class="navbar-brand" href="/">TakeCare</a>
      <div class="container-fluid">

        <button style="margin-left: 100px; margin-top: -40px;" class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/opcaoCadastro">Cadastro</a>
          </li>


        </ul>
      </div>

    </nav>
  </header>



  <main>





    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">


      <div class="carousel-inner">


        <div class="carousel-item active">


          <section class="home">


            <div class="home-text">
              <h4 class="text-h4">Bem vindo ao APP TAKE CARE</h4>
              <h1 class="text-h1">seu App de cuidado e bem estar</h1>


              <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Faça seu
                Login</a>


            </div>



            <div class="home-img">
              <img src="/img/logomarca.png" alt="logo">

            </div>


          </section>




        </div>





        <div class="carousel-item">


          <section class="home">


            <div class="home-text">
              <h4 class="text-h4">Bem vindo ao APP TAKE CARE</h4>
              <h1 class="text-h1">seu App de cuidado e bem estar</h1>


              <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Faça seu
                Login</a>


            </div>



            <div class="home-img">
              <img src="img/telaicon3.png" alt="logo">

            </div>


          </section>

        </div>



        <div class="carousel-item">



          <section class="home">


            <div class="home-text">
              <h4 class="text-h4">Bem vindo ao APP TAKE CARE</h4>
              <h1 class="text-h1">seu App de cuidado e bem estar</h1>


              <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Faça seu
                Login</a>


            </div>



            <div class="home-img">
              <img src="/img/telaicon2.png" alt="logo">

            </div>


          </section>


        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">

          <span class="carousel-control-prev-icon" aria-hidden="true"></span>

          <i class="bi bi-arrow-right-circle-fill"></i>

          <span class="visually-hidden">Previous</span>

        </button>


        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>


      </div>





      <section class="wrapper">


        <div class="container-fostrap">

          <div>
            <img src="/img/logomarca.png" class="fostrap-logo" />


            <h1 class="heading">
              Você que é um Empresario
            </h1>

            <h1 class="heading">
              conheça nossos planos!
            </h1>


          </div>






          <div class="content">


            <div class="container">


              <div class="row">


                <div class="col-xs-12 col-sm-4">
                  <div class="card">

                    <a class="img-card" href="">

                      <img src="/img/telaicon2.png" />
                    </a>


                    <div class="card-content">

                      <h4 class="card-title">

                        <a href=""> Plano 1
                        </a>
                      </h4>

                      <p class="">
                        Plano de entreda ideal para autônomos
                      </p>
                    </div>




                  </div>
                </div>



                <div class="col-xs-12 col-sm-4">
                  <div class="card">

                    <a class="img-card" href="">

                      <img src="/img/telaicon3.png" />
                    </a>


                    <div class="card-content">

                      <h4 class="card-title">

                        <a href=""> Plano 2
                        </a>
                      </h4>

                      <p class="">
                        Plano de entreda ideal para autônomos
                      </p>
                    </div>




                  </div>
                </div>





                <div class="col-xs-12 col-sm-4">
                  <div class="card">

                    <a class="img-card" href="">

                      <img src="/img/telaicon.png" />
                    </a>


                    <div class="card-content">

                      <h4 class="card-title">

                        <a href=""> Plano 3
                        </a>
                      </h4>

                      <p class="">
                        Plano de entreda ideal para autônomos
                      </p>
                    </div>




                  </div>
                </div>




              </div>
            </div>
          </div>
        </div>
      </section>




      <section class="home">


        <div class="home-text">
          <h4 class="text-h4">APP TAKE CARE</h4>
          <h1 class="text-h1">Sua solução para cuidado e bem estar</h1>



          <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Faça seu Login</a>


        </div>



        <div class="home-img">
          <img src="/img/logomarca.png" alt="logo">

        </div>


      </section>



      <footer>

        <div class="mt-5 pt-5 pb-5 footer">


          <div class="container">

            <div class="row">

              <div class="col-lg-5 col-xs-12 about-company">
                <h2>Quem somos? </h2>

                <p class="pr-5 text-white-50">TakeCare Empresa de tecnologia e soluções de cuidado e bem estar. </p>

                <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i
                      class="fa fa-linkedin-square"></i></a></p>
              </div>





              <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Estamos online!</h4>
                <ul class="m-0 p-0">
                  <li>- <a href="#">instagram</a></li>
                  <li>- <a href="#">Facebook</a></li>

                </ul>


              </div>


              <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Fale conosco! </h4>

                <p>Estamos disponiveis á te ouvir</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>(081) 1234-1234</p>
                <p><i class="fa fa-envelope-o mr-3"></i>apptakecare@gmail.com</p>
              </div>
            </div>


            <div class="row mt-5">
              <div class="col copyright">
                <p class=""><small class="text-white-50">© 2022. All Rights Reserved.</small></p>
              </div>
            </div>
          </div>
        </div>

      </footer>

  </main>







</body>

</html>