<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

	 <script th:inline="javascript">
   
    	
            function pesquisaCep(cep){
                console.log(cep)
                let ajax = new XMLHttpRequest();
                ajax.open('GET', 'https://viacep.com.br/ws/'+cep+'/json/')
                //console.log(ajax)
                ajax.onreadystatechange = ()=>{
                    //console.log(ajax.readyState)
                    
                    if(ajax.readyState == 4 && ajax.status == 200){
                    let res = ajax.responseText
                    let ajaxOBJ = JSON.parse(res);
                    console.log(ajaxOBJ)
                    document.getElementById('rua').value = ajaxOBJ.logradouro;
                    document.getElementById('bairro').value = ajaxOBJ.bairro;
                    document.getElementById('cidade').value = ajaxOBJ.localidade;
                    document.getElementById('uf').value = ajaxOBJ.uf;
                    }
                }
                ajax.send()
            }
 
        </script>
        
        <div class="form-group">
							<label for="cep">Cep</label> <input onblur="pesquisaCep(this.value)" type="text"
								class="form-control" id="cep" placeholder="cep" required>
						</div>
        
	   

</body>

</html>