

#paginaLoja{
	margin-top:5%;
    width:70%;
    margin-left:25%; 
    background-color:#041e29;
    border:#34393d solid;
    border-radius:10px;
}
#nomeLoja{
    color:white;
}

#carouselExampleIndicators{
    width:500px;
    height:250px;
    
}
#left{
        width:200px;
        margin-left:20px;
        margin-top:-250px;
        
}
#listaServ{
    width:500px;
    padding-top:50px;
}

#informacoes{
    width:200px;
    margin-left:50%;
    color:white;
    
}

/******* agendamento********/
#tabelaAgenda{
	width:115vh;
	min-height: 30vh;
	background-color:rgb(25, 23, 23);
	border-radius:20px;
	margin-top:2%;
	border:solid;
	margin-left:-5%;
	display:none;
}

#buttonAgenda{
  
    margin-top:10px;
}
#buttonAgenda{
	
	height:10vh;
	background-color: #041e29;
	border-radius:10px;
}
#agenda.h4{
    color:white;
}

/***** portifolio ********/
#imagens{
   
    display:none;
    width:700px;
    background-color:#555753;
    border-radius:10px;
    padding-bottom:5px;
    
}
#portifolio{
    height:300px;
    margin-left:250px;	

}

#dataAgendamento{
    
    margin-left:100px;
}
.horaAgendamento{
    width:60px;
    
}
