#listaEstabelecimento {
	width: 50%;
	height: 95%;
	margin-left: 30%;
	margin-top: 2%;
	margin-bottom: 5px;
	padding-bottom: 20px;
	background-image: linear-gradient(to bottom right, #283547, black);
	border-radius: 20px;
	border: gray;
	overflow-y: scroll;

}


.scrollbar-primary::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f500;
}



.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #3f4550;
}

.scrollbar-primary {
	scrollbar-color: #1a1d20 #F5F5F5;
}





#imagemPerfilLista {
	height: 150px;
	width: 270px;
	border-radius: 20px;
}

#nomesEstabelecimentos {
	margin-left: 20%;
	width: 20%;


}

#list-tab {
	width: 300px;
	border-radius: 20px;
	text-align: center;
}

#h3ListaEstabelecimento {

	color: white;
	margin-left: 20%;
	margin-top:5%;
	width: 20%;

}

#nomesEstabelecimento {
	margin-top: 20px;

}

.busca {
	width: 70%;
	margin-left: 10%;
	margin-top:2%;
	display: flex;


}
.busca #pesquisa{
	width:30%;
	display: inline;
}


