#listaEstabelecimento {
	width: 50%;
	margin-left: 30%;
	margin-top: 5%;
	margin-bottom:5px;
	padding-bottom: 20px;
	background-image: linear-gradient(to bottom right, #283547, black);
	border-radius: 20px;
	border: gray;
}


#nomesEstabelecimentos {
	margin-left: 20px;
	width: 20%;
	

}

#list-tab {
	width: 300px;
	border-radius: 20px;
	text-align: center;
}

#h3ListaEstabelecimento {

	color: white;
	margin-left: 80px;
	width: 20%;

}

#nomesEstabelecimento {

	margin-top: 20px;

}

#busca{
	width:200px;
	margin-left: 5%;

}

#busca button{
	margin-top:-70px;
	margin-left: 220px;
}













